main {
  width: 80%;
  margin: 10% auto;
  background-color: rgb(203, 201, 201);
}

.caixa {
  width: 100%;
  height: 200px;
  position: relative;
}

#caixa1 {
  background-color: red;
  position: absolute;
  top: 100px;
  z-index: 5;
}

#caixa2 {
  background-color: blue;
}

#caixa3 {
  background-color: green;
}

#caixa4 {
  background-color: orange;
}

#caixa5 {
  background-color: yellow;
}
