#caixa {
  width: 200px;
  height: 200px;
  background-color: green;
  position: relative;
  left: 30%;
  top: 200px;
  left: 0px;
}

.borda {
  border: 1px solid red;
}

#container {
  background-color: gray;
}

#caixa2 {
  width: 200px;
  height: 200px;
  background-color: blue;
  position: relative;
  top: -200px;
}
